.body2 {
  background: url('back5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  text-decoration: none;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 60px;
  color: rgba(103, 10, 10, 1);

}

h2 {
  font-family: 'Permanent Marker', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 25px;
  color:rgba(103, 10, 10, 1);
}

.edit {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
}

.searchFood {
color: white;
text-decoration: none;
font-family: 'Abril Fatface', cursive;
font-size: 25px;
border: 1px solid white;
border-radius: 6px;
padding-left: 2px;
padding-right: 2px;
}

.nutri-container {
  background-color: rgba(0, 0, 0, .3);
  width: 600px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
  background-color: rgba(240, 234, 214, .9);
}

.fixed {
  table-layout: fixed;
}

table, td, th {
  border-collapse: collapse;
}

th, td {  padding: 10px;
  border: solid 1px;
  text-align: center;
}

.delete {
  margin-top: 10px;
  background:none!important;
  color:inherit;
  padding:0!important;
  font: inherit;
  border:1px solid white;
  border-radius: 6px;
  cursor: pointer;
  padding-right: 2px;
  padding-left: 2px;
}

/* Glyph, by Harry Roberts */

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.logger {
  width: 400px;
  height: 420px;
  margin-top: 150px;
  margin-left: 450px;
  background: rgba(103, 10, 10, .5);
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}

input[type="text"] {
  width: 240px;
  display: inline-block;
  height: 30px;
  font-size: 18px;
  border: 1px solid #000;
  padding-left: 45px;
  margin: 0 0 10px 0;
  left: 50%;
  top: 50%;
  trasform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
}
