

html {
  color: red;
}

* {
  margin: 0;
  padding: 0
}

.heading {
  overflow: hidden;
  height: 100vh;
  background: url('background.jpg') 50%/ cover
}

a {
  text-decoration: none;
}
.tag {
  font-family: 'Shadows Into Light', cursive;
  color: rgba(255, 255, 255, .7);
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: arial;
  font-size: 83px;
  margin: 190px 0px 0px 0px;
  text-decoration: none;
  color:red;
}

.clear {
  clear: both;
}


input[type="submit"]{
  padding: 15px 25px;
  background: #150;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  cursor:pointer;
}

span {
  background:  url('background.jpg') 50%/ cover;
  -webkit-background-clip: text;
  display: block;
  background-position: center -290px;
  color:rgba(255, 255, 255, 0.3);
}

.body2 {
  background: url('back3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: red;
}

.login {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family: arial;
  font-size: 34px;
  margin: 190px 0px 0px 0px;
  text-decoration: none;
}

.log {
color: rgba(255, 255, 255, .7);
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
