<% include ./partials/boilerplate %>

<div class='heading'>

  <h2><span>NUTRITION APP<span></h2>
    <div class=login>
      <a class='log' href='/auth/login'>Login</a>
      </br>
      <a class='log' href='/auth/register'>Register</a>
    </div>
</div>




<% include ./partials/end %>
