<% include ./partials/boilerplate %>

<div class='header'>

  <h2><span>NUTRITION APP<span></h2>
    <div>
      <a href='/auth/login'>Login</a>
      <a href='/auth/register'>Register</a>
    </div>
</div>




<% include ./partials/end %>
