<% include ./partials/boilerplate %>

<div class='heading'>

  <h2><span>NUTRITION APP<span></h2>
    <div class='tag'>
    </div>
      <div class=login>
        <a class='log' href='/auth/login'>Login</a>
        <div class='clear'></div>
        <a class='log' href='/auth/register'>Register</a>
      </div>
</div>




<% include ./partials/end %>
