<% include ../partials/boilerplate2 %>

<h1 class="fancy" >Welcome back, <%= user.username %>! </h1>
<p class='sell'>Most people know the benefits of eating well and exercising.</br>
The importance of nutrition goes beyond that and provides you</br>
the ability to lower your cholesterol, improve your well-being</br>
and increase your ability to fight off illnesses. Using this app</br>
will let you know the nutritional information of what you're eating</br>
on the go. Knowing what you're eating is just half the battle!</p>
<a class='navig' href='/nutri'>Nutrition</a>
<a class='navig' href='/auth/logout'>Logout</a>

<% include ../partials/end %>
