<% include ../partials/boilerplate2 %>

<h1 class="fancy" >Welcome back, <%= user.username %>! </h1>
<p>Take it</p>
<a class='navig' href='/nutri'>Nutrition</a>
<a class='navig' href='/auth/logout'>Logout</a>

<% include ../partials/end %>
