<% include ../partials/boilerplate2 %>

<form method='POST' action='/food'>
  <input required name='food' type='text' placeholder='food' />
  <input type='submit' value='Submit' />
</form>

<% include ../partials/end %>
