<% include ../partials/boilerplate2 %>

<div class="addFood"><h1>ADD A NEW FOOD</h1></div>
  <form method='POST' action='/nutri'>
  <input required name='food' type='text' placeholder='food' />
  <input required name='brand' type='text' placeholder='brand' />
    <input type='submit' value='Submit' />
</form>
</div>

<% include ../partials/end %>
