<% include ../partials/boilerplate2 %>

<div class='hero'>
  <h1>Your food!</h1>

<a class='searchFood' href='/food/food-search'>Search for food!<a>
</div>
<!--loops through database nutri and appends them to page--!>
  <div class='nutri-container'>
    <% for (let nutri of data) { %>
      <div class='nutri'>
        <h2><%= nutri.food %></h2>

        <div class="line"></div>
        <h3>Brand: <%= nutri.brand %></h3>
        <div class ='links'>
          <a class='link' href='/nutri/<%= nutri.id%>'>Details</a>
          <form method='POST' action='/nutri/<%= nutri.id%>?_method=DELETE'>
            <input type='submit' value='Delete it' />
          </form>
      </div>
    </div>
  <% } %>
</div>


<% include ../partials/end %>
