<% include ../partials/boilerplate %>

<div class="addFood"><h1>ADD A NEW FOOD</h1></div>
  <form method='POST' action='/nutri'>
  <input required name='title' type='text' placeholder='title' />
  <input required name='category' type='text' placeholder='category' />
  <input required name='details' type='text' placeholder='details' class='details' />
    <input type='submit' value='Submit' />
</form>
</div>
<% include ../partials/end %>
